@import "../partials/generales";

@use "generales/flex";
@use "generales/grid";

//--

@media (max-width: 999px) {
  .body-home {
    margin-top: 10%;
    & > .home-main-wrapper {
      @include flex(row, center, center);
      & > .wrapper-posts {
        margin: 0 auto;
      }
      & > .sidebar {
        display: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .body-home {
    width: 100%;
    height: 100%;
    margin-top: 3em;
    background-color: map-get($colors, bg-gris);
    & > .home-main-wrapper {
      background-color: map-get($colors, bg-gris);
      @include grid(1, auto 40%, 0);
      & > .wrapper-posts {
        background-color: map-get($colors, bg-gris);
        padding-top: 3em;
        @include flex(column, space-evenly, center);
      } //fin wrapper-posts

      & > .sidebar {
        height: 100%;
        background-color: map-get($colors, bg-gris);
        position: relative;
        @include flex(column, flex-start, center);
        & > .sidebar-wrapper-fixed {
          width: 350px;
          transform: translateY(100px);
          position: fixed;
          top: 0;
          height: 100%;
          & > .sidebar__username-container {
            width: 100%;
            background-color: map-get($colors, bg-gris);
            @include flex(row, space-between, center);
            & > .cont-img-suggested-profile {
              @include flex(row, center, center);
              & > .suggested-img-profile {
                width: 56px;
                height: 56px;
                margin: 0 auto;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid map-get($colors, bc-gris);
                cursor: pointer;
              } //fin img
            } //fin suggested-img-profile

            & > .cont-username-data {
              width: 100%;
              margin-left: 1em;
              @include flex(column, center, flex-start);
              & > p {
                margin: 0;
                &:nth-of-type(1) {
                  font-size: 1em;
                  font-weight: 700;
                  cursor: pointer;
                }
                &:nth-of-type(2) {
                  font-size: 0.7em;
                  color: map-get($colors, tx-gris);
                }
              }
            } //fin cont-username-data
          } //fin username-container

          & > .sidebar__suggested {
            margin: 2em 0 0 0;
            width: 100%;
            @include flex(column, flex-start, center);
            & > .suggested__header {
              width: 100%;
              @include grid(1, 75% auto, 0.5em);
              & > p {
                margin: 0;
                font-size: 0.9em;
                font-weight: 700;
                color: map-get($colors, tx-gris);
              } //fin p

              & > span {
                font-size: 0.8em;
                font-weight: 400;
                margin: 0 auto;
                cursor: pointer;
              }
            } //fin suggested header

            & > .suggested__body {
              margin: 1.1em 0 0 0;
              width: 100%;
              @include flex(column, center, flex-start);

              & > .user-info {
                width: 100%;
                @include grid(1, 75% auto, 0.5em);
                margin-bottom: 0.5em;
                & > .user-info__col1 {
                  @include flex(row, flex-start, center);
                  font-size: 0.8em;
                  & > img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 1px solid map-get($colors, bc-gris);
                    object-fit: cover;
                    margin: 0;
                    cursor: pointer;
                  } //fin col1 - img

                  & > .col1__data {
                    margin-left: 0.8em;
                    @include flex(column, center, flex-start);
                    & > p {
                      &:nth-of-type(1) {
                        font-weight: 700;
                        cursor: pointer;
                      }
                      &:nth-of-type(2) {
                        font-weight: 300;
                        color: map-get($colors, tx-gris);
                      }
                    }
                  }
                } //fin col1
              } //fin user-info
            } //fin suggested body
          } //fin suggested
        }
      } //fin sidebar
    } //fin home-main-wrapper
  } //fin body-home
}

//SIDEBAR STYLES

//NoPost styles
.w__noPost {
  height: 90%;
  @include flex(column, center, center);
  & > .cont-img-logo {
    @include flex(row, center, center);
    width: 100%;
    & > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  } //fin cont-img-logo
} //fin w-noPost
