@import "../partials/generales";
@use "generales/flex";

.copiedModal {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0.5em;
    background: map-get($colors, bg-overlay);
    color: #fff;
    font-size: 4em;
    font-weight: 500;
} //fin copiedModal
