@import "editProfile";

.editProfile {
  & > .edit-header {
    @include grid(1, 30% auto, 2em);
  }

  & > .editBody {
    & > .form-control {
      overflow: hidden;
      @include grid(1, 30% auto, 2em);
      & > label {
        text-align: right;
      }
      & > input {
        width: 90%;
      }
    }

    & > button {
      width: 28%;
    }
  } //fin editBody

  & > .l-forgot-password {
    width: 100%;
    font-size: 0.9em;
    font-weight: 700;
    @include flex(row, center, center);
  }
} //fin edit-profile
