@import "../partials/generales";

@use "generales/flex";

.loading {
  height: 100%;
  width: 100%;
  @include flex(column, center, center);
  position: relative;

  & > .cont-loader {
    & > img {
      width: 70px;
    }
  }
} //fin loading
