@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext");

body {
  font-family: "Lato", sans-serif;
  //font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
